body{
  /*background-color: #254D32;*/
  background-color: #356E48;
}

a {
  text-decoration: none;
}

a:link, a:visited{
  color: white;
}

a:hover, a:focus, a:active{
  color: skyblue;
}

.heading-card{
  background-color: #0E141B !important;
  margin-top: 20px;
}

.content-card {
  /*background-color: #446288 !important;*/
  background-color: #223144 !important;
  width: 95%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#events::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#events {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

svg {
  width: 100%;
}

svg .turf {
  fill: #254D32;
}

svg .cell-free {
  fill: #7F7C5D;
}

svg .cell-reserved,
svg .cell-free:hover {
  fill: url(#striped);
}

svg .cell-sold {
  fill: transparent;
}

svg .stripe {
  stroke: #7F7C5D;
  stroke-width: 1;
}

svg .line {
  stroke: #FFFFFF;
  stroke-width: 1.2;
  fill: none;
}

svg .curve {
  stroke: #FFFFFF;
  stroke-width: 1.2;
  fill: none;
}

svg .dot {
  stroke: #FFFFFF;
  fill: #FFFFFF;
  r: 1.5;
}

svg .goal {
  stroke: #FFFFFF;
  stroke-width: 0.75;
  fill: url(#goal);
}

svg .goal-stripe {
  stroke: #FFFFFF;
  stroke-width: 1;
}